
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;

}
@font-face {
  font-family: "Meiryo";
  src: url('fonts/Meiryo-01.ttf');
}
@font-face {
  font-family: "Hirakaku";
  src: url('fonts/Hirakaku.otf');
}
@font-face {
  font-family: "KozGoPr6N";
  src: url('fonts/KozGoPr6N-Regular.otf');
}

@font-face {
  font-family: "HGGothicE-01";
  src: url('fonts/HGGothicE-01.ttf');
}

body {
  font-size: 12px;
  font-family: "Meiryo";
  /*font-family: 'Hirakaku';*/
  background-color: #4fbad3;

}
 ul, ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
 }

 a {
  text-decoration: none;
 }

/*============
  HEADER
  ==========*/

.header-container {
  background-color: #ffffff;
  height: 114px;
  position: relative;
  border-bottom: 4px solid #7fe2ee;

}
.wrapper {
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Meiryo";
}
.wrapper h1 {
  padding-top: 36px;
  float: left;
}
.wrapper h1 img {
  clear: left;
}
.wrapper #header-right {
  float: right;
  padding-top: 30px;
}
.wrapper #header-right .header-left {
  float: left;
}
.wrapper #header-right #form {
  display: inline-block;
  position: relative;
  margin-right: 9px;
  float: left;
}
.wrapper #header-right input{
  width: 310px;
  height: 50px;
  border: 1px solid #e6e7e7;
  background-color: #fafdff;
}
.wrapper #header-right input::placeholder {
  color: #8acde0;
}
.wrapper #header-right input.search {
  padding: 0px 68px 0px 18px;
}
.wrapper #header-right .search-btn {
  background: url(../images/search-btn.png) no-repeat center;
  background-color: #50bad4;
  width: 53px;
  height: 48px;
  top: 1px;
  right: 1px;
  position: absolute;
  border: none;
}
nav {
  float: right;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  width: 180px;
  margin-right: 8px;
  float: left;
  display: inline-block;

}
nav ul li a {
  border-bottom: 2px solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  padding: 12px 0px 12px 0;
  background-color: #5082d4;
  color: #fff;
  display: block;
  font-size: 16px;
  text-align: center;
}
nav ul li.sign-up a:hover {
  background-color: #659cf7;
}
nav ul li.sign-in a:hover {
  background-color: #ed3939;
}
nav ul li:last-child {
   margin-right: 0px;
}
nav ul li:last-child a{
  background-color: #d63232;
}


/*=========
  MAIN
  ==========*/

.main-container {
  background-color: #f8fcfe;
  margin: 0 auto;
  display: flex;
  padding-bottom: 33px;

}
.main {
  width: 1048px;
  margin: 0 auto;
}
.main .category-left{
  padding: 29px 0 28px 0;
  color: #d2d2d2;
  font-size: 14px;
  font-weight: bold;
  margin-right: 48px;
}
.main .category-left .category-left-float {
  float: left;
}
.main .category-left .cate ul {
  list-style-type: none;
}
.main .category-left .cate li {
  display: inline-block;
  padding: 0 6px;
}
.main .category-left .cate li a  {
  color: inherit;
  word-break: break-all;
}
.main .category-left .cate li.active a {
  color: #a2e6f0;
}

.main-content {
  width: 1000px;
  display: flex;
  background-color: #f8fcfe;
}

/*===============
  SECTION ==============*/
section {
  flex-basis: 678px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 20px;
}
section div.cate-no {
  border-bottom: 1px solid #eeeeee;
  background-color: #fafafa;
  /*position: relative;*/
}
section div h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  padding: 16px 0 17px 11px;
  font-family: "Hirakaku";
  line-height: 18px;
}
section div.cate-no span  {
  border-left: 4px solid #9eadff;
  padding-left: 10px;
}
/*section .cate-no h2::before {
  content: "|";
  color: #9eadff;
  font-size: 17px;
  margin-right: 8px;
  position: absolute;
  top: 13px;
  left: 9px;
}*/
section ul.all-news  {
  padding-top: 5px;
}
section ul.all-news li  {
  display: flex;
  width: 678px;
  padding: 20px 22px 16px 16px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
section ul.all-news li div.news-img {
  flex-basis: 240px;
}
section ul li div.news-img a span {
  color: #50bad4;
  position: absolute;
  top: 11px;
  left: 17px;
  font-size: 50px;
}
section ul li div.news-img a span::after {
  content: "NEW";
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 19px;
  left: 4px;
  transform: rotate(-45deg);
}

section ul.all-news  li div.news-content {
  padding-left: 19px;
  flex-basis: 400px;
}

section ul.all-news  li div.news-content div a  {
  font-size: 11px;
  padding: 2.5px 5.5px;
  color: #ffffff;
  font-family: "Hirakaku";
} 
section ul.all-news  li div.news-content div .cate-view {
  /*display: inline-block;*/
} 
section ul.all-news  li div.news-content .news-view {
  color: #969696;
  font-size: 13px;
  text-align: right;
  float: right;
  font-weight: bold;
}
section ul.all-news  li .news-content div h3 {
  padding: 10px 0 7px 0;
  font-family: "Hirakaku";
  letter-spacing: -1px;
  margin-left: 0;
}
section ul.all-news  li .news-content div h3 a {
  font-size: 20px;
  color: #333333;
}
section ul.all-news  li .news-content div p {
}
section ul.all-news  li .news-content div p a  {
  font-size: 14px;
  color: #333333;
  font-family: inherit;
  padding-left: 0;
  margin-left: 0;
}
section ul.all-news  li .news-content div div.news-footer {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
}
section ul.all-news  li .news-content div div.news-date:after {
  content: "|";
  color: #aaaaaa;
  padding: 0 15px 0 16px;
}
section ul.all-news  li .news-content div div.news-author {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #a3a3a3;
}
section ul.all-news  li div a.cate-no1 {
  background-color: #9eadff;
}
section ul.all-news  li div a.cate-no2 {
  background-color: #7fe6ff;
}
section ul.all-news  li a.cate-no3 {
  background-color: #d46350;
}

section div.center {
  text-align: center;
  margin: 24px auto 30px auto;
}
section div.center ul.pagination li {
  display: inline-block;
}
section .center ul.pagination li a {
  color: #ffffff;
  float: left;
  padding: 7px 0;
  background-color: #83cfe0;
  margin: 0 2px;
  transition: background-color .3s;
  border-radius: 5px;
  width: 35px;
  height: 34px;
  font-size: 15px;
  text-align: center;
}
section .center ul.pagination li a:hover {
  background-color: #f0f0f0;
  color: #505050;
}
section .center ul.pagination li:last-child a {
  background-color: #fff;
  position: relative;
}
section .center ul.pagination li:last-child a span {
  font-size: 30px;
  color: #c8c8c8;
  font-weight: bold;
  position: absolute;
  top: -5px;
  left: 12px;
}
section .center ul.pagination li:last-child a span:hover {
  font-size: 30px;
  background-color: : #c8c8c8;
  font-weight: bold;
}
section .center ul.pagination a.active {
  background-color: #f0f0f0;
  color: #505050;
}



/*============
  ASIDE ===========*/

aside {
  flex-basis: 300px;
  background-color: #f8fcfe;
}
aside div.aside-1-content,
aside div.aside-2-content {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin-top: 20px;
}
aside div.aside-1-content div.cate-header,
aside div.aside-2-content div.recommend {
  font-size: 32px;
  color: #646464;
  border-bottom: 1px solid #e6e6e6;
  padding: 25px 0 26px 7px;
  line-height: 20px;
  position: relative;
}
aside div.aside-1-content div.cate-header div.cate-header-mr,
aside div.aside-2-content div.recommend div.cate-header-mr {
  word-break: break-all;
  margin-right: 55px;
}
aside div.aside-1-content div.cate-header span,
aside div.aside-2-content div.recommend span {
  font-size: 12px;
  font-family: "Meiryo";
  color: #646464;
}
aside div.aside-1-content div.cate-header img, 
aside div.aside-2-content div.recommend img {
  position: absolute;
  top: 36px;
  right: 17px;
  bottom: 32px;
}
aside div.aside-1-content ul.aside-cate {
  margin: 20px 9px 19px 9px;
}
aside div.aside-1-content ul.aside-cate li {
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
aside div.aside-1-content ul.aside-cate li a  {
  padding: 18px 55px 16px 90px;
  font-size: 16px;
  color: #fff;
  font-family: "Hirakaku";
  font-weight: bold;
  display: block;
}
aside div.aside-1-content ul.aside-cate li a span  {
  position: absolute;
  top: -5px;
  right: 11px;
  font-size: 40px;
}
/*aside div.aside-1-content ul.aside-cate li a span::after {
  content: ">";
  color: #fff;
  font-size: 18px;
}*/
aside div.aside-1-content ul.aside-cate li a img {
  position: absolute;
  top: 0px;
  left: 0px;
}

aside div.aside-1-content ul li.category-no1 {
  background-color: #0085cd;
}
aside div.aside-1-content ul li.category-no1:hover {
  background-color: #009df2;
}
aside div.aside-1-content ul li.category-no2 {
  background-color: #47b8b2;
}
aside div.aside-1-content ul li.category-no2:hover {
  background-color: #4dd7d6;
}
aside div.aside-1-content ul li.category-no3 {
  background-color: #ea928e;
}
aside div.aside-1-content ul li.category-no3:hover {
  background-color: #fa9a96;
}
aside div.aside-1-content ul li.category-no4 {
  background-color: #c54646;
}
aside div.aside-1-content ul li.category-no4:hover {
  background-color: #f55959;
}
aside div.aside-1-content ul li.category-no5 {
  background-color: #eba622;
}
aside div.aside-1-content ul li.category-no5:hover {
  background-color: #ffb72c;
}



aside .aside-2 ul.aside-recommend{
  padding: 0px 9px 19px 9px;
}

aside .aside-2 ul.aside-recommend li {
  display: flex;
  width: 280px;
  padding: 13px 0 11px 0;
  border-bottom: 1px solid #eeeeee;
}
aside .aside-2 ul li a {
  flex-basis: 100px;
  /*cant fix with img so set height*/
  height: 75px;
}

aside .aside-2 ul li h6 {
  flex-basis: 180px;
  padding: 16px 0 0 15px;
}
aside .aside-2 ul li h6 a {
  font-size: 13px;
  color: #585858;
  font-family: "Meiryo";
  font-weight: lighter;
}
aside .aside-2 ul li:first-child h6 a  {
  color: #4fbad3;
  text-decoration: underline;
  text-underline-position: under;
}
aside .aside-2 ul li:last-child  {
  border: none;
  position: relative;
}
aside .aside-2 ul li:last-child a  {
  font-size: 12px;
  color: #6fc4d9;
  text-decoration: underline;
  text-underline-position: under;
  right: 0;
  position: absolute;
}
aside .aside-2 ul li:last-child a span {
  font-size: 10px;
  text-decoration: none;
}





/*==========
  FOOTER ========*/

.footer-1  {
  background-color: #ebeff1;
  padding-bottom: 55px;
}
footer {
  width: 1200px;
  margin: 0 auto;
}
footer .footer-header {
  padding: 36px 0 35px 0;
}
footer .footer-body {
  width: 1200px;
  display: flex;
  color: #757778;
}
footer .footer-body .footer-intro {
  flex-basis: 425px;
  font-family: "Meiryo";
  margin-right: 58px;
}
footer .footer-body .footer-intro p  {
  padding-top: 1px;
  line-height: 20px;
}
footer .footer-body .footer-intro a {
  color: #80c8db;
  float: right;
  padding-top: 13px;
  font-weight: bold;
}
footer .footer-body .footer-intro a span {
  font-size: 13px;
}

footer .footer-body .footer-cate, 
footer .footer-body .footer-tag {
  flex-basis: 331px;
}
footer .footer-body h4 {
  font-size: 16px;
  padding: 0 0 5px 16px;
  font-family: "KozGoPr6N";
  color: #333333;
  font-weight: bold;
}
footer .footer-body ul li a span {
  color: #80c8db;
  font-size: 7px;
  vertical-align: middle;
}
footer .footer-body .footer-cate div, 
footer .footer-body .footer-tag div {
  display: flex;
  width: 331px;
  border-top: 1px solid #4fbad3;
}
footer .footer-body .footer-cate div ul.footer-cate-1 {
  flex-basis: 156px;
}
footer .footer-body .footer-cate ul.footer-cate-2 {
  flex-basis: 175px;
}
footer .footer-body ul li a  {
  color: #757778;
  padding-left: 2px;
}
footer .footer-body .footer-cate ul li,
footer .footer-body .footer-tag ul li {
  font-size: 14px;
  padding: 7px 0 4px 0px;
}
footer .footer-body .footer-tag {
  margin-left: 58px;
}
footer .footer-body .footer-tag div ul {
  flex-basis: 81px;
  padding-left: 2px;
}


.footer-2 {
  /*cant set*/
  background-color: #4fbad3;
}
.footer-2 footer ul li {
  float: left;
  padding: 19px 13.5px 14px 13.5px;

}
.footer-2 footer ul li:first-child {
  padding-left: 5px;
}
.footer-2 footer ul li:last-child {
  float: right;
}
.footer-2 footer ul li a {
  color: #edf7f9;
  font-size: 14px;
}
.footer-2 footer ul li:last-child a {
  font-size: 11px;
}