
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;

}
@font-face {
  font-family: "Meiryo";
  src: url('fonts/Meiryo-01.ttf');
}
@font-face {
  font-family: "Hirakaku";
  src: url('fonts/Hirakaku.otf');
}
@font-face {
  font-family: "KozGoPr6N";
  src: url('fonts/KozGoPr6N-Regular.otf');
}


body {
  font-size: 12px;
  font-family: "Meiryo";
  word-break:break-word;
}
 ul, ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
 }

 a {
  text-decoration: none;
 }
 .clearfix {
  clear: both;
}


/*============
  HEADER
  ==========*/

header {
  background-color: #ffffff;
}
.header-wrapper {
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Meiryo";
  display: flex;
  position: relative;
}
.header-wrapper .header-logo {
  padding: 39px 0 39px;
  line-height: 10px;
  flex-basis: 500px;
}
.header-wrapper .header-logo:hover,
footer .footer-logo:hover {
  opacity: 0.7;
}
.header-wrapper h1 a {
  display: block;
}
.header-wrapper .header-right {
  flex-basis: 700px;
  display: flex;
  margin: 30px 0;
  position: absolute;
  right: 0;
}
.header-wrapper .header-right .form-search {
  width: 310px;
  position: relative;
  margin-right: 9px;

}
.header-wrapper .header-right .form-search .search-btn {
  background: url(../images/search-btn.png) no-repeat center;
  background-color: #50bad4;
  width: 53px;
  height: 48px;
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
  cursor: pointer;
}
.header-wrapper .header-right .form-search .search-btn:hover {
  opacity: 0.7;
}
.header-wrapper .header-right .form-search input{
  width: 310px;
  height: 50px;
  border: 1px solid #e6e7e7;
  background-color: #fafdff;
}
.header-wrapper .header-right .form-search input::placeholder {
  color: #8acde0;
}
.header-wrapper .header-right .form-search .search {
  padding: 0 68px 0 18px;
}
.header-wrapper .header-right .header-user {
  /*remove default whitespace between inline-block*/
  font-size: 0;
}
.header-wrapper .header-right .header-user li {
  width: 180px;
  display: inline-block;
}
.header-wrapper .header-right .header-user .register {
  margin-right: 9px;
}
.header-wrapper .header-right .header-user li a {
  border-bottom: 2px solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  padding: 12px 0;
  color: #fff;
  display: block;
  font-size: 16px;
  text-align: center;
}
.header-wrapper .header-right .header-user .register {
  background-color: #5082d4;
}
.header-wrapper .header-right .header-user .register a:hover {
  background-color: #659cf7;
}
.header-wrapper .header-right .header-user .login {
   margin-right: 0;
}
.header-wrapper .header-right .header-user .login a{
  background-color: #d63232;
}
.header-wrapper .header-right .header-user .login a:hover {
  background-color: #ed3939;
}


/*=========
  MAIN
  ==========*/

.main-container {
  background-color: #f8fcfe;
  margin: 0 auto;
  display: flex;
  padding-bottom: 33px;
  border-top: 4px solid #7fe2ee;

}
.main {
  width: 1000px;
  margin: 0 auto;
}
.main .main-cate{
  padding: 33px 0;
  color: #d2d2d2;
  font-size: 14px;
  font-weight: bold;
}
.main .main-cate .category-popular,
.main .main-cate .list-cate {
  display: inline-block;
}
.main .main-cate .list-cate {
  list-style-type: none;
}
.main .main-cate .list-cate li {
  display: inline-block;
  padding: 0 6px;
}
.main .main-cate .list-cate li a  {
  color: inherit;
  
}
.main .main-cate .list-cate li a:hover,
.main .main-cate .list-cate li .active {
  color: #a2e6f0;
}
.main .main-cate .list-cate .cate-active  {
  padding-left: 0;
}
.main-content {
  width: 1000px;
  display: flex;
  background-color: #f8fcfe;
}

/*===============
  SECTION ==============*/

section {
  flex-basis: 678px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 20px;
  align-self: flex-start;
}
section .cate-title {
  border-bottom: 1px solid #eeeeee;
  background-color: #fafafa;
}
section .cate-title h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin: 17px 10px;
  padding-left: 10px;
  display: inline-flex;
  font-family: "Hirakaku";
  line-height: 24px;
  
  border-left: 4px solid #9eadff;
}
section .cate-title h2 span {
  margin-top: -4px;
  margin-bottom: -4px;
}

section .all-news li  {
  display: flex;
  width: 678px;
  padding: 19px 16px;
  border-bottom: 1px solid #eeeeee;
}

section .all-news .news1 {
  padding-top: 25px;
}

section .all-news li .news-img {
  flex-basis: 240px;
  display: block;
  position: relative;
}
section .all-news li .news-img:hover,
section .all-news li .news-title:hover {
  opacity: 0.7;
}
section .all-news li .news-img img {
  display: block;
}
section .all-news li .news-img span {
  color: #50bad4;
  position: absolute;
  top: -9px;
  left: 1px;
  font-size: 50px;
}
section .all-news li .news-img span::after {
  content: "NEW";
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 19px;
  left: 4px;
  transform: rotate(-45deg);
}

section .all-news li .news-content {
  padding-left: 20px;
  flex-basis: 406px;
}
section .all-news li .news-content .news-status {
  display: flex;
  justify-content: space-between;
}

section .all-news li .news-content .news-status a, 
section .all-news li .news-content .news-status .news-view {
  display: inline-block;
}
section .all-news li .news-content .news-status a {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  font-family: "Hirakaku";
}
section .all-news li .news-content .news-status .news-cate1 {
  background-color: #9eadff;
}
section .all-news li .news-content .news-status .news-cate2 {
  background-color: #7fe6ff;
}
section .all-news li .news-content .news-status .news-cate3 {
  background-color: #d46350;
}
section .all-news li .news-content .news-status .news-view {
  font-size: 13px;
  font-weight: bold;
  color: #969696;
}
section .all-news li .news-content h3 {
  padding-top: 7px;
  font-family: "Hirakaku";
  margin-left: 0;
}
section .all-news li .news-content h3 a {
  font-size: 20px;
  color: #333333;
}
section .all-news li .news-content p {
  font-size: 14px;
  line-height: 20px;
  padding-top: 8px;
  color: #333333;
  font-family: inherit;
}
section .all-news li .news-content .news-footer {
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
}
section .all-news li .news-content .news-footer .news-date,
section .all-news li .news-content .news-footer .news-author {
  display: inline-block;
}
section .all-news li .news-content div .news-date:after {
  content: "|";
  color: #aaaaaa;
  padding: 0 15px;
}
section .all-news li .news-content div .news-author {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #a3a3a3;
  color: inherit;
  font-weight: bold;
}

section .center {
  text-align: center;
  margin: 24px auto 30px auto;
}
section .center .pagination li {
  display: inline-block;
}
section .center .pagination li a {
  color: #ffffff;
  float: left;
  padding: 3px 0;
  background-color: #83cfe0;
  transition: background-color .3s;
  border-radius: 5px;
  width: 35px;
  height: 34px;
  font-size: 15px;
  text-align: center;
  align-items: center;
  line-height: 30px;
}

section .center .pagination li a:hover,
section .center .pagination li .pag-next:hover {
  background-color: #f0f0f0;
  color: #505050;
}
section .center .pagination li:last-child a {
  background-color: #fff;
  position: relative;
  padding: 5px 0;
}
section .center .pagination li .current {
  background-color: #f0f0f0;
  color: #505050;
}
section .center .pagination li .extend {
  color: #000;
  background-color: inherit;
}

/*============
  ASIDE ===========*/

aside {
  flex-basis: 300px;
  background-color: #f8fcfe;
}

.aside-container {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.aside-container .aside-header {
  color: #646464;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0 29px 7px;
  line-height: 20px;
  position: relative;
}
.aside-container .aside-header {
  padding-right: 55px;
}
.aside-container .aside-header h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 30px;
}
.aside-container .aside-header span {
  font-size: 12px;
  font-family: "Meiryo";
  color: #646464;
  line-height: 18px;
}
.aside-container .aside-header img {
  position: absolute;
  top: 35px;
  right: 17px;
}


/*======
  aside email ======*/

.aside-container .aside-email  {
  margin: 16px 9px 36px;
}
.aside-container .aside-email a,
.aside-container .aside-email img {
  display: flex;
}
.aside-container .aside-email .email-2bear {
  margin-top: 19px;
  margin-bottom: 16px;
}
.aside-container .aside-email img {
  margin: auto auto;
}

.aside-container .aside-email .definition-laif {
  font-size: 13px;
  font-weight: bold;
  color: #5cbfd7;
  text-decoration: underline;
  text-underline-position: under;
  
  padding-right: 8px;
  justify-content: flex-end;
}
.aside-container .aside-email p {
  font-weight: bold;
  text-align: center;
  font-family: "Hirakaku";
}
.aside-container .aside-email .before-mail {
  padding: 24px 0 0;
  font-size: 18px;
  line-height: 22px;
  color: #50bad4;
}
.aside-container .aside-email .mail-form {
  margin: 12px 0 19px;
}
.aside-container .aside-email .mail-form input {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 226px;
  height: 50px;
  padding: 0 7px;
  margin-right: 4px;
  font-size: 16px;
}
.aside-container .aside-email .mail-form input:placeholder {
  color: #c8c8c8;
}
.aside-container .aside-email .mail-form button {
  background-color: #50bad4;
  width: 50px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  position: absolute;
  font-size: 15px;
  cursor: pointer;
}
.aside-container .aside-email .mail-form button:hover {
  opacity: 0.7;
}
.aside-container .aside-email .after-mail {
  font-size: 13px;
  line-height: 18px;
}

/*========
  aside insurance ========*/

.aside-container .aside-insurance {
  margin: 16px 9px 10px;
  position: relative;

}
.aside-container .aside-insurance .insurance-header {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 14px;
  padding-left: 4px;
  /*align-items: center;*/
}
.aside-container .aside-insurance .insurance-header img {
  /*2 ways*/
  align-self: flex-start;
  /*align-self: self-start;*/
  display: block;
}
.aside-container .aside-insurance .insurance-header .like-insurance img:hover,
.aside-container .aside-insurance .insurance-body .people .item img:hover,
.aside-container .aside-insurance .aside_sns img:hover {
  opacity: 0.7;
}
.aside-container .aside-insurance .insurance-header p {
  font-size: 14px;
  font-weight: bold;
}
.aside-container .aside-insurance .insurance-header div {
  padding-left: 4px;
  /*align-self: center;*/
}
.aside-container .aside-insurance .insurance-body {
  border-bottom: 1px solid #e6e6e6;
  padding: 9px 0 12px;
}

.aside-container .aside-insurance .insurance-body p {
  color: #505050;
  font-size: 13px;
  font-weight: bold;
}
.aside-container .aside-insurance .insurance-body p a {
  color: #3b579d;
  text-decoration: none;
}
.aside-container .aside-insurance .insurance-body .people {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  justify-content: space-between;
}

.aside-container .aside-insurance .insurance-body .people .item {
  /*margin: 0 8px 8px 0;*/
  /*flex: 0 1 calc(20% - 8px);*/
  display: inline-block;
  margin-top: 8px;
}
.aside-container .aside-insurance .insurance-body .people .item img {
  display: block;
}
.aside-container .aside-insurance .aside_sns {
  margin-right: 115px;
}
.aside-container .aside-insurance .aside_sns p {
  padding: 10px 0 7px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.aside-container .aside-insurance .aside_sns a {
  width: 40px;
  display: inline-block;
}
.aside-container .aside-insurance .aside_sns a img {
  vertical-align: bottom;
}
.aside-container .aside-insurance .illustration {
  display: block;
}
.aside-container .aside-insurance .illustration .circle {
  background-color: #50bad4;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 60px;
}
.aside-container .aside-insurance .illustration .circle:after {
  content: "Follow me!";
  color: #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: 3px;
  top: 7px;
  font-size: 14px;
  text-align: center;
}
.aside-container .aside-insurance .illustration-img {
  position: absolute;
  right: 0;
  bottom: -10px;
}


/*======
  aside advertisement ======*/

aside .ads {
  display: block;
  margin-bottom: 20px;
}
aside .ads img {
  display: block;
}
aside .ads img:hover {
  opacity: 0.7;
}


/*======
  aside category ======*/

.aside-container .aside-category .cate-body {
  margin: 20px 9px;
}

.aside-container .aside-category .cate-body li {
  margin-bottom: 10px;
  display: block;
  position: relative;
  
}
.aside-container .aside-category .cate-body li a {
  font-size: 16px;
  color: #fff;
  font-family: "Hirakaku";
  font-weight: bold;
  
  display: flex;
  align-items: center;
  border-bottom: 2px solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.aside-container .aside-category .cate-body .cate-img {
  margin-bottom: -2px;
}
/*.aside-container .aside-category .cate-body .cate-img:hover {
  opacity: 0.7;

}*/
.aside-container .aside-category .cate-body li a p {
  padding-left: 10px;
  margin-right: 30px;
}
.aside-container .aside-category .cate-body li a .btn-next {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

.aside-container .aside-category .cate-body .cate1 {
  background-color: #0085cd;
}
.aside-container .aside-category .cate-body .cate1:hover {
  background-color: #009df2;
}
.aside-container .aside-category .cate-body .cate2 {
  background-color: #47b8b2;
}
.aside-container .aside-category .cate-body .cate2:hover {
  background-color: #4dd7d6;
}
.aside-container .aside-category .cate-body .cate3 {
  background-color: #ea928e;
}
.aside-container .aside-category .cate-body .cate3:hover {
  background-color: #fa9a96;
}
.aside-container .aside-category .cate-body .cate4 {
  background-color: #c54646;
}
.aside-container .aside-category .cate-body .cate4:hover {
  background-color: #f55959;
}
.aside-container .aside-category .cate-body .cate5 {
  background-color: #eba622;
}
.aside-container .aside-category .cate-body .cate5:hover {
  background-color: #ffb72c;
}


/*======
  aside recommend ====*/

.aside-container .aside-recommend .recommend-body {
  margin: 0 9px;
}
.aside-container .aside-recommend .recommend-body li {
  display: flex;
  width: 280px;
  padding: 13px 0 11px 0;
  border-bottom: 1px solid #eeeeee;
}
.aside-container .aside-recommend .recommend-body li a {
  display: flex;
  align-items: center;
}
.aside-container .aside-recommend .recommend-body li a img {
  align-self: center;
}
.aside-container .aside-recommend .recommend-body li a .item-title  {
  padding-left: 15px;
  font-size: 13px;
  line-height: 22px;
  font-weight: normal;
  color: #585858;
  font-family: "Meiryo";
}
.aside-container .aside-recommend .recommend-body li a:hover .item-title,
.aside-container .aside-recommend .recommend-body li .active .item-title {
  color: #4fbad3;
  text-decoration: underline;
  text-underline-position: under;
}
.aside-container .aside-recommend .recommend-footer {
  padding: 14px 0;
  position: relative;
  display: block;
  text-align: right;
  margin: 0 9px;
}
.aside-container .aside-recommend .recommend-footer a {
  color: #585858;
  font-family: "Meiryo";
  display: block;
  font-size: 12px;
  /*align-self: center;*/
  margin-left: 0;
  padding-left: 0;
}
.aside-container .aside-recommend .recommend-footer a:hover,
.aside-container .aside-recommend .recommend-footer .active {
  color: #4fbad3;
  text-decoration: underline;
  text-underline-position: under;
}
.aside-container .aside-recommend .recommend-footer a span {
  text-decoration: none ;
  display: inline-block;
  padding-right: 2px;
  font-size: 12px;
}


/*==========
  aside ranking ======*/


.aside-container .aside-ranking .ranking-body  {
  background-color: #72c8dc;
}
.aside-container .aside-ranking .ranking-body input[type="radio"] {
  display: none;
  /*-webkit-appearance: none;*/
  /*position: fixed;
  opacity: 0;*/
}
.aside-container .aside-ranking .ranking-body label {
  width: 84px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  padding: 11px 0;
  color: #fff;
  background-color: #72c8dc;
  line-height: 22px;
  position: relative;
  cursor: pointer;
  /*remove padding between input and label*/
  margin-left: -4px;
}
.aside-container .aside-ranking .ranking-body label::after {
  content: "";
  background-color: #fff;
  width: 1px;
  height: 18px;
  right: 0;
  position: absolute;
}
.aside-container .aside-ranking .ranking-body .tab-dairy {
  margin-left: 15px;
}
.aside-container .aside-ranking .ranking-body .tab-total {
  margin-right: 15px;
}
.aside-container .aside-ranking .ranking-body label:hover{
  color: #9fd5e4;
  background-color: #fff;
  border-top: 2px solid #72c8dc;
}
.aside-container .aside-ranking .ranking-body label:hover::before{
  top: 0;
    left: -1px;
    content: "";
    background-color: #fff;
    width: 1px;
    height: 100%;
    position: absolute;
}
.aside-container .aside-ranking .ranking-body label:active {
  color: #9fd5e4;
  background-color: #fff;
  border-top: 2px solid #72c8dc;
}

.aside-container .aside-ranking .ranking-body  input:checked + label {
  border-top: 2px solid #72c8dc;
  background: #fff;
  color: #9fd5e4;
  position: relative;
}
.aside-container .aside-ranking .ranking-body  input:checked + label::before {
    top: 0;
    left: -1px;
    content: "";
    background-color: #fff;
    width: 1px;
    height: 100%;
    position: absolute;
}
.aside-container .aside-ranking .ranking-body #tab-dairy:checked ~ #dairy-content,
.aside-container .aside-ranking .ranking-body #tab-monthly:checked ~ #monthly-content,
.aside-container .aside-ranking .ranking-body #tab-total:checked ~ #total-content {
  display: block;
}
.aside-container .aside-ranking .ranking-body div {
  display: none;
  margin-right: 0;
  padding: 0 9px;
  background-color: #fff;
}
.aside-container .aside-ranking .ranking-body div ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
  counter-increment: step-counter;
  position: relative;
  padding-left: 50px;
}
.aside-container .aside-ranking .ranking-body div ul li::before {
  content: counter(step-counter);
  font-size: 13px;
  color: #fff;
  background-color: #6b6b6b;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  margin-top: 2px;
  width: 40px;
  height: 20px;
  text-align: center;
}
.aside-container .aside-ranking .ranking-body div ul li a {
  padding: 10px 6px 0;
  font-size: 13px;
  color: #6b6b6b;
  text-decoration: underline;
  text-underline-position: under;
}
.aside-container .aside-ranking .ranking-body div ul li:last-child {
  border-bottom: none;
}
.aside-container .aside-ranking .ranking-body div ul li a:hover {
  color: #4fbad3;
  text-decoration: underline;
  text-underline-position: under;
}



/*==========
  FOOTER ========*/

footer .footer {
  background-color: #ebeff1;
  padding-bottom: 55px;
}
footer .footer-container {
  width: 1200px;
  margin: 0 auto;
}
.footer-container .footer-header {
  padding: 36px 0;
}
.footer-container .footer-header a {
  display: block;
}
.footer-container .footer-header a img {
  vertical-align: bottom;
}
.footer-container .footer-body {
  display: flex;
  color: #757778;
}
.footer-container .footer-body .footer-intro {
  flex-basis: 425px;
  font-family: "Meiryo";
  margin-right: 58px;
}
.footer-container .footer-body .footer-intro {
  line-height: 20px;
  padding-top: 2px;
  font-size: 12px;
}
.footer-container .footer-body .footer-intro div {
  text-align: right;
  padding-top: 10px;
}
.footer-container .footer-body .footer-intro a {
  color: #80c8db;
  /*padding-top: 13px;*/
  font-weight: bold;
}
.footer-container .footer-body .footer-intro a span {
  font-size: 13px;
}

.footer-container .footer-body .footer-category,
.footer-container .footer-body .footer-tag {
  flex-basis: 330px;
}
.footer-container .footer-body .footer-category p,
.footer-container .footer-body .footer-tag p {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0 5px 16px;
  line-height: 20px;
}
.footer-container .footer-body .footer-cate-tag {
  display: flex;
  border-top: 1px solid #4fbad3;
}
.footer-container .footer-body .footer-cate-tag ul li {
  padding: 8px 0;
}
.footer-container .footer-body .footer-cate-tag ul li a {
  line-height: 16px;
  font-size: 14px;
  color: #757778;
  padding-left: 2px;
}
.footer-container .footer-body .footer-cate-tag ul li a span {
  color: #80c8db;
  font-size: 7px;
  vertical-align: middle;
}
.footer-container .footer-body .footer-category .footer-cate-tag ul {
  flex-basis: 156px;
}
.footer-container .footer-body .footer-tag {
  margin-left: 58px;
}
.footer-container .footer-body .footer-tag .footer-cate-tag ul  {
  flex-basis: 80px;
}

footer .footer-footer {
  background-color: #4fbad3;
}
footer .footer-footer .footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-footer .footer-container ul  {
  position: relative;
}
.footer-footer .footer-container ul li {
  display: inline-block;
  padding: 13px;
}
.footer-footer .footer-container ul .laif-top {
  padding-left: 0;
}
.footer-footer .footer-container ul li a {
  color: #edf7f9;
  font-size: 14px;
}
.footer-footer .footer-container .copyright {
  padding: 15px 0;
}
.footer-footer .footer-container .copyright p {
  font-size: 11px;
  color: #edf7f9;
}