
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;

}
@font-face {
  font-family: "Meiryo";
  src: url('fonts/Meiryo-01.ttf');
}
@font-face {
  font-family: "Hirakaku";
  src: url('fonts/Hirakaku.otf');
}
@font-face {
  font-family: "KozGoPr6N";
  src: url('fonts/KozGoPr6N-Regular.otf');
}

@font-face {
  font-family: "HGGothicE-01";
  src: url('fonts/HGGothicE-01.ttf');
}

body {
  font-size: 12px;
  font-family: "Meiryo";
}
 ul, ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
 }

 a {
  text-decoration: none;
 }

/*============
  HEADER
  ==========*/

.header-container {
  background-color: #ffffff;
}
.wrapper {
  width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Meiryo";
  display: flex;
}
.wrapper h1.logo {
  padding: 39px 0 39px;
  line-height: 10px;
  flex-basis: 500px;
  margin-right: 8px;
}
.wrapper h1 a {
  display: block;
}
.wrapper div.header-right {
  padding: 30px 0;
  flex-basis: 700px;
}

.wrapper .header-right .form {
  display: inline-block;
  position: relative;
  margin-right: 9px;
  float: left;
}
.wrapper .header-right input{
  width: 310px;
  height: 50px;
  border: 1px solid #e6e7e7;
  background-color: #fafdff;
}
.wrapper .header-right input::placeholder {
  color: #8acde0;
}
.wrapper .header-right input.search {
  padding: 0px 68px 0px 18px;
}
.wrapper .header-right .search-btn {
  background: url(../images/search-btn.png) no-repeat center;
  background-color: #50bad4;
  width: 53px;
  height: 48px;
  position: absolute;
  top: 1px;
  right: 1px;
  border: none;
}

.wrapper .header-right ul li {
  width: 180px;
  margin-right: 8px;
  display: inline-block;

}
.wrapper .header-right ul li a {
  border-bottom: 2px solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  padding: 12px 0px 12px 0;
  background-color: #5082d4;
  color: #fff;
  display: block;
  font-size: 16px;
  text-align: center;
}
.wrapper .header-right ul li.sign-up a:hover {
  background-color: #659cf7;
}
.wrapper .header-right ul li.sign-in a:hover {
  background-color: #ed3939;
}
.wrapper .header-right ul li.sign-in {
   margin-right: 0px;
}
.wrapper .header-right ul li:last-child a{
  background-color: #d63232;
}


/*=========
  MAIN
  ==========*/

.main-container {
  background-color: #f8fcfe;
  margin: 0 auto;
  display: flex;
  padding-bottom: 33px;
  border-top: 4px solid #7fe2ee;

}
.main {
  width: 1000px;
  margin: 0 auto;
}
.main .category-left{
  padding: 29px 0 28px 0;
  color: #d2d2d2;
  font-size: 14px;
  font-weight: bold;
}
.main .category-left .category-left-float {
  float: left;
}
.main .category-left .cate ul {
  list-style-type: none;
}
.main .category-left .cate li {
  display: inline-block;
  padding: 0 6px;
}
.main .category-left .cate li a  {
  color: inherit;
  word-break: break-all;
}
.main .category-left .cate li a:hover {
  color: #a2e6f0;
}

.main-content {
  width: 1000px;
  display: flex;
  background-color: #f8fcfe;
}

/*===============
  SECTION ==============*/
section {
  flex-basis: 678px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin-right: 20px;
}
section div.cate-no {
  border-bottom: 1px solid #eeeeee;
  background-color: #fafafa;
  /*position: relative;*/
}
section div h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  padding: 16px 0 17px 11px;
  font-family: "Hirakaku";
  line-height: 18px;
}
/*section div.cate-no span  {
  border-left: 4px solid #9eadff;
  padding-left: 10px;
}*/
/*section .cate-no h2::before {
  content: "|";
  color: #9eadff;
  font-size: 17px;
  margin-right: 8px;
  position: absolute;
  top: 13px;
  left: 9px;
}*/
section ul.all-news  {
  padding-top: 5px;
}
section ul.all-news li  {
  display: flex;
  width: 678px;
  padding: 20px 16px;
  border-bottom: 1px solid #eeeeee;
}
section ul.all-news li div.news-img {
  flex-basis: 240px;
}
section ul li div.news-img a {
  display: block;
  position: relative;
}
section ul li div.news-img a img {
  vertical-align: bottom;
}
section ul li div.news-img a span {
  color: #50bad4;
  position: absolute;
  top: -9px;
  left: 1px;
  font-size: 50px;
}
section ul li div.news-img a span::after {
  content: "NEW";
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 19px;
  left: 4px;
  transform: rotate(-45deg);
}

section ul.all-news  li div.news-content {
  padding-left: 19px;
  flex-basis: 400px;
}

section ul.all-news  li div.news-content div a.cate-view  {
  font-size: 11px;
  padding: 2.5px 5.5px;
  color: #ffffff;
  font-family: "Hirakaku";
} 
section ul.all-news  li div.news-content div .cate-view {
  /*display: inline-block;*/
} 
section ul.all-news  li div.news-content .news-view {
  color: #969696;
  font-size: 13px;
  text-align: right;
  font-weight: bold;
}
section ul.all-news  li div.news-content .news-status {
  position: relative;
}
section ul.all-news  li div.news-content .news-status .news-view {
  position: absolute;
  right: 0;
  top: 0px;
}
section ul.all-news  li .news-content div h3 {
  padding: 10px 0 7px 0;
  font-family: "Hirakaku";
  margin-left: 0;
}
section ul.all-news  li .news-content div h3 a {
  font-size: 20px;
  color: #333333;
}
section ul.all-news  li .news-content div p  {
  font-size: 14px;
  color: #333333;
  font-family: inherit;
}
section ul.all-news  li .news-content div div.news-footer {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
}
section ul.all-news  li .news-content div div.news-date:after {
  content: "|";
  color: #aaaaaa;
  padding: 0 15px 0 16px;
}
section ul.all-news  li .news-content div a.news-author {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #a3a3a3;
  color: inherit;
  font-weight: bold;

}
section ul.all-news  li div a.cate-no1 {
  background-color: #9eadff;
}
section ul.all-news  li div a.cate-no2 {
  background-color: #7fe6ff;
}
section ul.all-news  li a.cate-no3 {
  background-color: #d46350;
}

section div.center {
  text-align: center;
  margin: 24px auto 30px auto;
}
section div.center ul.pagination li {
  display: inline-block;
}
section .center ul.pagination li a {
  color: #ffffff;
  float: left;
  padding: 7px 0;
  background-color: #83cfe0;
  margin: 0 2px;
  transition: background-color .3s;
  border-radius: 5px;
  width: 35px;
  height: 34px;
  font-size: 15px;
  text-align: center;
}
section .center ul.pagination li a:hover {
  background-color: #f0f0f0;
  color: #505050;
}
section .center ul.pagination li:last-child a {
  background-color: #c8c8c8;
  position: relative;
}
section .center ul.pagination li:last-child a img.btn-next {
  font-size: 30px;
  color: #c8c8c8;
  font-weight: bold;
  position: absolute;
  top: 8px;
  left: 12px;
}
section .center ul.pagination li:last-child a a.btn-next:hover {
  font-size: 30px;
  background-color: #c8c8c8;
  font-weight: bold;
}
section .center ul.pagination a.active {
  background-color: #f0f0f0;
  color: #505050;
}



/*============
  ASIDE ===========*/

aside {
  flex-basis: 300px;
  background-color: #f8fcfe;
}
aside .ads {
  display: block;
}
.aside-container {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin-top: 20px;
}
.aside-container .aside-header {
  color: #646464;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0 29px 7px;
  line-height: 20px;
  position: relative;
}
.aside-container .aside-header .aside-header-mr {
  word-break: break-all;
  margin-right: 55px;
}
.aside-container .aside-header .aside-header-mr h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 30px;
}
.aside-container .aside-header .aside-header-mr span {
  font-size: 12px;
  font-family: "Meiryo";
  color: #646464;
  line-height: 18px;
}
.aside-container .aside-header img {
  position: absolute;
  top: 35px;
  right: 17px;
}
.aside-container .aside-body {
  margin: 20px 9px;
}

/*======
  aside category ======*/

.aside-container .aside-category .aside-body .cate-body li {
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
.aside-container .aside-category .aside-body .cate-body li a {
  font-size: 16px;
  color: #fff;
  font-family: "Hirakaku";
  font-weight: bold;
  word-break: break-all;
  display: flex;
  align-items: center;
}
.aside-container .aside-category .aside-body .cate-body li a p {
  padding-left: 10px;
  margin-right: 30px;
}
.aside-container .aside-category .aside-body .cate-body li a img.btn-next {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.aside-container .aside-category .aside-body .cate-body li.cate1 {
  background-color: #0085cd;
}
.aside-container .aside-category .aside-body .cate-body li.cate:hover {
  background-color: #009df2;
}
.aside-container .aside-category .aside-body .cate-body li.cate2 {
  background-color: #47b8b2;
}
.aside-container .aside-category .aside-body .cate-body li.cate2:hover {
  background-color: #4dd7d6;
}
.aside-container .aside-category .aside-body .cate-body li.cate3 {
  background-color: #ea928e;
}
.aside-container .aside-category .aside-body .cate-body li.cate3:hover {
  background-color: #fa9a96;
}
.aside-container .aside-category .aside-body .cate-body li.cate4 {
  background-color: #c54646;
}
.aside-container .aside-category .aside-body .cate-body li.cate4:hover {
  background-color: #f55959;
}
.aside-container .aside-category .aside-body .cate-body li.cate5 {
  background-color: #eba622;
}
.aside-container .aside-category .aside-body .cate-body li.cate5:hover {
  background-color: #ffb72c;
}

/*======
  aside recommend ====*/

.aside-container .aside-recommend .aside-body {
  margin: 0 9px 19px 9px;
}
.aside-container .aside-recommend .aside-body .recommend-body li {
  display: flex;
  width: 280px;
  padding: 13px 0 11px 0;
  border-bottom: 1px solid #eeeeee;
  align-items: center;
}
.aside-container .aside-recommend .aside-body .recommend-body li a {
  flex-basis: 100px;
  word-break: break-all;
}
.aside-container .aside-recommend .aside-body .recommend-body li a img {
  vertical-align: bottom;
}
.aside-container .aside-recommend .aside-body .recommend-body li h3  {
  flex-basis: 180px;
  padding-left: 15px;
  align-self: center;
}
.aside-container .aside-recommend .aside-body .recommend-body li h3 a{
 font-size: 13px;
 line-height: 22px;
 font-weight: normal;
 color: #585858;
font-family: "Meiryo";
}
.aside-container .aside-recommend .aside-body .recommend-body li h3 a:hover {
  color: #4fbad3;
  text-decoration: underline;
  text-underline-position: under;
}
.aside-container .aside-recommend .aside-body .recommend-footer {
  padding: 14px 0;
  position: relative;
}
.aside-container .aside-recommend .aside-body .recommend-footer a {
  color: #585858;
  font-family: "Meiryo";
  display: block;
  font-size: 12px;
  right: 0;
  position: absolute;
}
.aside-container .aside-recommend .aside-body .recommend-footer a:hover {
  color: #4fbad3;
  text-decoration: underline;
  text-underline-position: under;
}
.aside-container .aside-recommend .aside-body .recommend-footer a span {
  position: absolute;
  top: 0px;
  left: -15px;
  font-size: 10px;
}


/*==========
  FOOTER ========*/

footer .footer {
  background-color: #ebeff1;
  padding-bottom: 55px;
}
footer .footer-container {
  width: 1200px;
  margin: 0 auto;
}
.footer-container .footer-header {
  padding: 36px 0;
}
.footer-container .footer-header a {
  display: block;
}
.footer-container .footer-header a img {
  vertical-align: bottom;
}
.footer-container .footer-body {
  display: flex;
  color: #757778;
}
.footer-container .footer-body .footer-intro {
  flex-basis: 425px;
  font-family: "Meiryo";
  margin-right: 58px;
}
.footer-container .footer-body .footer-intro {
  line-height: 20px;
  padding-top: 2px;
  font-size: 12px;
}
.footer-container .footer-body .footer-intro a {
  color: #80c8db;
  padding-top: 13px;
  font-weight: bold;
  float: right;
}
.footer-container .footer-body .footer-intro a span {
  font-size: 13px;
}
.footer-container .footer-body .footer-category {
  clear: both;
}
.footer-container .footer-body .footer-category,
.footer-container .footer-body .footer-tag {
  flex-basis: 330px;
}
.footer-container .footer-body .footer-category p,
.footer-container .footer-body .footer-tag p {
  font-size: 16px;
  font-family: ""KozGoPr6N;
  color: #333333;
  font-weight: bold;
  padding: 0 0 5px 16px;
  line-height: 20px;
}
.footer-container .footer-body .footer-cate-tag {
  display: flex;
  border-top: 1px solid #4fbad3;
}
.footer-container .footer-body .footer-cate-tag ul li {
  padding: 8px 0;
}
.footer-container .footer-body .footer-cate-tag ul li a {
  line-height: 16px;
  font-size: 14px;
  color: #757778;
  padding-left: 2px;
}
.footer-container .footer-body .footer-cate-tag ul li a span {
  color: #80c8db;
  font-size: 7px;
  vertical-align: middle;
}
.footer-container .footer-body .footer-category .footer-cate-tag ul {
  flex-basis: 156px;
}
.footer-container .footer-body .footer-tag {
  margin-left: 58px;
}
.footer-container .footer-body .footer-tag .footer-cate-tag ul  {
  flex-basis: 80px;
}

footer .footer-footer {
  background-color: #4fbad3;
}
.footer-footer ul  {
  position: relative;
}
.footer-footer ul li {
  display: inline-block;
  padding: 13px;
}
.footer-footer ul li a {
  color: #edf7f9;
  font-size: 14px;
}
.footer-footer ul li a.copyright {
  position: absolute;
  right: 0;
  font-size: 11px;
}