
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Meiryo";
  src: url('fonts/Meiryo-01.ttf');
}
@font-face {
  font-family: "Hirakaku";
  src: url('fonts/Hirakaku.otf');
}
@font-face {
  font-family: "KozGoPr6N";
  src: url('fonts/KozGoPr6N-Regular.otf');
}

$mobile: 640px;

body {
  font-size: 12px;
  font-family: "Meiryo";
  word-break:break-word;
  @media screen and (max-width: $mobile) {
    width: $mobile;
  }
}
ul, ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
.clearfix {
  clear: both;
}

// container for header & footer
.container {
  width: 1200px;
  margin: 0 auto;
}
// container for body
.container-normal {
  width: 1000px;
  margin: 0 auto;
}

// header
.header {
  background-color: #fff;
  font-family: "Meiryo";
  display: flex;
  position: relative;
  @media screen and (max-width: $mobile) {
    width: $mobile;
    // flex-direction: column;
  }
  &__icon {
    display: none;
    @media screen and (max-width: $mobile) {
      display: block;
      // border: 4px solid #4fbad3;
    }
    &__bar {
    }
  }
  // &__icon {
  //   display: none;
  //   @media screen and (max-width: $mobile) {
  //     display: block;
  //     // border: 4px solid #4fbad3;
  //     border-radius: 10px;
  //   }
  //   &:before {
  //     content: "";
  //     position: absolute;
  //     top: 36px;
  //     left: 32px;
  //     width: 27px;
  //     height: 5px;
  //     border-top: 13px double #4fbad3;
  //     border-bottom: 4px solid #4fbad3;
  //     &:before:hover {
  //       cursor: pointer;
  //     }
  //   }
  // }
  &__logo {
    padding: 39px 0;
    line-height: 10px;
    flex-basis: 510px;
    position: relative;

    @media screen and (max-width: $mobile) {
      padding: 16px 0 19px 155px;
    } 
    &__link {
      display: block;
    }
    &__img {
      &--main {
        @media screen and (max-width: $mobile) {
        display: none;
        }
      }
      &--mobile {
        display: none;
        @media screen and (max-width: $mobile) {
          display: block;
        } 
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__search {
    position: relative;
    margin: 30px 0;
    @media screen and (max-width: $mobile) {
      display: none;
    }
    &__btn {
      background: url(../images/search-btn.png) no-repeat center;
      background-color: #50bad4;
      width: 53px;
      height: 48px;
      position: absolute;
      top: 1px;
      right: 1px;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    &__input {
      width: 310px;
      height: 50px;
      border: 1px solid #e6e7e7;
      background-color: #fafdff;
      padding: 0 68px 0 18px;
      &::placeholder {
        color: #8acde0;
      }
    }
  }
  &__user {
    // remove default whitespace between inline-block
    font-size: 0;
    margin: 30px 0;
    @media screen and (max-width: $mobile) {
      display: none;
    }
    &__item {
    width: 180px;
    display: inline-block;
    margin-left: 9px;
    }
    &__link {
      border-bottom: 2px solid;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      padding: 12px 0;
      color: #fff;
      display: block;
      font-size: 16px;
      text-align: center;
    }
    &__register {
      background-color: #5082d4;
      &:hover {
        opacity: 0.7;
      }
    }
    &__login {
      background-color: #d63232;
      margin-right: 0;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}



// main
.main {
  background-color: #f8fcfe;
  border-top: 4px solid #7fe2ee;
  @media screen and (max-width: $mobile) {
    width: $mobile;
    display: inline-block;
    background-color: #e4f8fd;
  }
  .popular-word {
    padding: 33px 0;
    color: #d2d2d2;
    font-size: 14px;
    font-weight: bold;
    @media screen and (max-width: $mobile) {
      display: none;
    }
    &__note {
      display: inline-block;
    }
    &__list {
      display: inline-block;
      list-style-type: none;
      &__item {
        display: inline-block;
        padding: 0 6px;
      }
      &__link {
        color: #d2d2d2;
        &:hover {
          color: #a2e6f0;
        }
        &__active {
          color: #a2e6f0;
          padding-left: 0;
          color: #a2e6f0;
        }
      }
    }
  }
  .content {
    display: flex;
    background-color: #f8fcfe;
    @media screen and (max-width: $mobile) {
      width: $mobile;
      display: block;
      padding-top: 17px;
      background: #e4f8fd;
    }
  }
  // news 
  .news {
    flex-basis: 678px;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    align-self: flex-start;
    order: 1;   
    @media screen and (max-width: $mobile) {
      border: none;
      margin-right: 0;
      margin-bottom: 20px;

    }

    &__header {
      border-bottom: 1px solid #eeeeee;
      background-color: #fafafa;
      @media screen and (max-width: $mobile) {
        border-bottom: 4px solid #e4f8fd;
        background-color: #fff;
        color: #646464;
      }
    }
    &__title {
      &--display {
        font-size: 18px;
        font-weight: bold;
        color: #333333;
        margin: 17px 10px;
        padding-left: 10px;
        display: inline-flex;
        font-family: "Hirakaku";
        line-height: 24px;
        border-left: 4px solid #9eadff;
        @media screen and (max-width: $mobile) {
          display: none;
        }
      }
      &--mobile {
        display: none;
        padding: 20px 20px 15px 20px;
        font-size: 38px;
        color: #646464;
        line-height: 30px;
        font-weight: 400;
        position: relative;
        @media screen and (max-width: $mobile) {
          display: block;
        }
      }
    }
    &__span {
      margin-top: -4px;
      margin-bottom: -4px;

    }
    &__span--mobile {
      display: none;
      font-size: 20px;
      padding: 0 20px 19px 20px;
      line-height: 16px;
      font-weight: 400;
      padding-right: 80px;
      @media screen and (max-width: $mobile) {
        display: block;
      }
    }
    &__illus {
      display: none;
      @media screen and (max-width: $mobile) {
        display: block;
        position: absolute;
        top: 135px;
        right: 20px;
      }
    }

    &__list {
      &__item {
        display: flex;
        width: 678px;
        padding: 19px 16px;
        border-bottom: 1px solid #eeeeee;
        @media screen and (max-width: $mobile) {
          width: $mobile;
          padding: 19px 20px;
          border-bottom: 2px solid #e4f8fd;
        }
        &:first-child {
          padding-top: 25px;
          @media screen and (max-width: $mobile) {
            padding-top: 19px;
          }
        }
        &:nth-child(3n+1) {
          .news__list__status__cate {
            background-color: #9eadff;
          }
        }
        &:nth-child(3n+2) {
          .news__list__status__cate {
            background-color: #7fe6ff;
          }
        }
        &:nth-child(3n+3) {
          .news__list__status__cate {
            background-color: #d46350;
          }
        }
      }
      &__link {
        flex-basis: 240px;
        display: block;
        position: relative;
        overflow: hidden;
        // &:hover >  {
        //   opacity: 0.7;
        // }
        @media screen and (max-width: $mobile) {
          flex-basis: 160px;
          display: flex;
          align-items: center;
        }
      }
      &__thumb {
        display: block;
        vertical-align: bottom;
        transition: all 1s ease;
        @media screen and (max-width: $mobile) {
          width: 160px;
        }
        &:hover {
          opacity: 0.7;
          transform: scale(1.25);
          -ms-transform:scale(1.25); // IE 9 
          -moz-transform:scale(1.25); // Firefox
          -webkit-transform:scale(1.25); // Safari and Chrome
          -o-transform:scale(1.25); // Opera 
        }
      }
      &__span {
        color: #50bad4;
        position: absolute;
        top: -9px;
        left: 0;
        font-size: 50px;
        z-index: 9;

        &:after {
          content: "NEW";
          color: #fff;
          font-size: 13px;
          position: absolute;
          top: 19px;
          left: 4px;
          transform: rotate(-45deg);
        }
      }
      &__content {
        padding-left: 20px;
        width: 440px;
        @media screen and (max-width: $mobile) {
          // flex-basis: 440px;
          padding-left: 32px;
        }
      }
      &__status {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $mobile) {
          display: none;
        }
        &__view {
          display: inline-block;
          font-size: 13px;
          font-weight: bold;
          color: #969696;
        }
        &__cate {
          display: inline-block;
          padding: 2px 6px;
          font-size: 11px;
          line-height: 16px;
          color: #ffffff;
          font-family: "Hirakaku";
        }
      }
      &__title {
        padding-top: 7px;
        font-family: "Hirakaku";
        margin-left: 0;
        font-size: 20px;
        @media screen and (max-width: $mobile) {
          font-size: 25px;
          padding-top: 0;
        }
        &__link {
          color: #333333;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      &__des {
        font-size: 14px;
        line-height: 20px;
        padding-top: 8px;
        color: #333333;
        font-family: inherit;
        @media screen and (max-width: $mobile) {
          display: none;
        }
      }
      &__footer {
        padding-top: 10px;
        font-size: 12px;
        font-weight: bold;
        @media screen and (max-width: $mobile) {
          padding-top: 22px;
          font-size: 17px;
          color: #929292;
        }
        &__date {
          display: inline-block;
          &:after {
            content: "|";
            color: #aaaaaa;
            padding: 0 15px;
          }
        }
        &__author {
          display: inline-block;
          text-decoration: underline;
          text-underline-position: under;
          text-decoration-color: #a3a3a3;
          color: inherit;
          font-weight: bold;
        }
      }
    }

    // paging
    .paging {
      text-align: center;
      margin: 24px auto 30px auto;
      @media screen and (max-width: $mobile) {
        display: none;
      }
      &__item {
        display: inline-block;
        &__no {
          color: #ffffff;
          float: left;
          padding: 3px 0;
          background-color: #83cfe0;
          transition: background-color .3s;
          border-radius: 5px;
          width: 35px;
          height: 34px;
          font-size: 15px;
          text-align: center;
          align-items: center;
          line-height: 30px;
          &:hover {
            background-color: #f0f0f0;
            color: #505050;
          }

          &--current {
            background-color: #f0f0f0;
            color: #505050;
          }
          &--extend {
            color: #000;
            background-color: inherit;
          }
          &--next {
            background-color: #fff;
            padding: 5px;
          }
        }
      }
    }
    &__footer {
      display: none;
      text-align: center;
      @media screen and (max-width: $mobile) {
        display: block;
      }
      .show-news {
        display: block;
        background-color: #4fbad3;
        margin: 17px 20px 17px 20px;
        padding: 30px 60px 30px 38px;
        font-size: 28px;
        color: #fff;
        line-height: 30px;
        border-radius: 4px;
        font-weight: 600;
        position: relative;
        &:hover {
          opacity: 0.7;
        }
        &:after {
          position: absolute;
          content: "";
          width: 22px;
          height: 40px;
          background: url(../images/btn-next-white-mobile.png);
          background-repeat: no-repeat;
          right: 20px;
          top: 50%;
          // minus height of img
          margin-top: -20px;
        }
      }
      .paging--mobile {
        background-color: #fff;
        color: #000;
        padding: 30px 0;
        text-align: center;
        border-top: 2px solid #e4f8fd;
        font-size: 28px;
        position: relative;
        &:before {
          content: "";
          background: url(../images/btn-next-blue-mobile.png);
          background-repeat: no-repeat;
          width: 22px;
          height: 40px; 
          position: absolute;
          left: 30px;
          transform: rotate(-180deg);
        }
        &:after {
          content: "";
          background: url(../images/btn-next-blue-mobile.png);
          background-repeat: no-repeat;
          width: 22px;
          height: 40px; 
          position: absolute;
          right: 30px;

        }
      }
    }
  }

}


// article page
.article {
  flex-basis: 678px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  align-self: flex-start;
  order: 1;
  padding: 20px;   
  @media screen and (max-width: $mobile) {
    border: none;
    margin-right: 0;
    margin-bottom: 20px;
  }
  // &__header {
  //   border-bottom: 1px solid #eeeeee;
  //   background-color: #fafafa;
  //   @media screen and (max-width: $mobile) {
  //     border-bottom: 4px solid #e4f8fd;
  //     background-color: #fff;
  //     color: #646464;
  //   }
  // }
  // &__title {
  //   &--display {
  //     font-size: 18px;
  //     font-weight: bold;
  //     color: #333333;
  //     margin: 17px 10px;
  //     padding-left: 10px;
  //     display: inline-flex;
  //     font-family: "Hirakaku";
  //     line-height: 24px;
  //     border-left: 4px solid #9eadff;
  //     @media screen and (max-width: $mobile) {
  //       display: none;
  //     }
  //   }
  //   &--mobile {
  //     display: none;
  //     padding: 20px 20px 15px 20px;
  //     font-size: 38px;
  //     color: #646464;
  //     line-height: 30px;
  //     font-weight: 400;
  //     position: relative;
  //     @media screen and (max-width: $mobile) {
  //       display: block;
  //     }
  //   }
  // }
  // &__span {
  //   margin-top: -4px;
  //   margin-bottom: -4px;

  // }
  // &__span--mobile {
  //   display: none;
  //   font-size: 20px;
  //   padding: 0 20px 19px 20px;
  //   line-height: 16px;
  //   font-weight: 400;
  //   padding-right: 80px;
  //   @media screen and (max-width: $mobile) {
  //     display: block;
  //   }
  // }
  // &__illus {
  //   display: none;
  //   @media screen and (max-width: $mobile) {
  //     display: block;
  //     position: absolute;
  //     top: 135px;
  //     right: 20px;
  //   }
  // }

  &__header {
    // background-color: #6E96D7;

  }
  &__title {
    background-color: #6E96D7;
    color: #fff;
    font-size: 25px;
    padding: 10px 0;
  }
  &__info {
    display: flex;
    font-size: 15px;
    padding-top: 15px;
    &__author {
      padding-top: 5px;
      
      color: #cf1003;
      font-weight: 600;
      &::after {
        // content: " | ";
        // position: absolute;

      }
    }
    &__date {
      padding-top: 5px;
      margin-left: 5px;
    }
    
  }
  &__body {
    padding-top: 20px;
    font-size: 14px;

    .article__img {
      // text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      // position: absolute;
      // clip: rect(20px 600px 350px 0);
      padding-bottom: 20px;
      
    }
    .article__des {
      padding: 10px 5px;
    }
    .article__strong {
      font-size: 22px;
      margin: 15px 5px;
      border-left: 8px solid #6E96D7;
      line-height: 27px;
      padding-left: 10px;
    }
  }
  &__footer {
    .social {
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 20px 20px 30px;

      border-bottom: 1px solid #eeeeee;

      @media screen and (max-width: $mobile) {
        justify-content: center;
      }
      &__item {
        font-size: 20px;
        color: #fff;
        padding: 10px 30px;
        width: 185px;
        text-align: center;
        @media screen and (max-width: $mobile) {
          width: 30px;
          border-radius: 4px;
          margin: 5px;
        }
        &:nth-child(3n+1) {
          background-color: #3b579d;
        }
        &:nth-child(3n+2) {
          background-color: #DE5145;
        }
        &:nth-child(3n+3) {
          background-color: #2eabf4;
        }
        &:hover {
          opacity: 0.7;
        }
        &__link {
          position: relative;

          &::before {
            position: absolute;
            left: -40px;
            @media screen and (max-width: $mobile) {
              left: -8px;
              top: -15px;
            }
          }
        }
        &__span {
          @media screen and (max-width: $mobile) {
            display: none;
          }
        }
      }
    }
    .comment {
      padding: 20px;
      &__title {
        font-size: 25px;
        color: #575a5c;
        font-weight: 400;
      }
      &__form {
        padding-top: 20px;
        &__fill {
          margin-bottom: 15px;
          padding-left: 5px;
          box-shadow: 0 2px 0 #e6e6e6;
          border: 1px solid #ccc;
          width: 60%;
          height: 35px;
          &--text {
            height: 100px;
            width: 85%;
          }
        }
        &__btn {
          padding: 10px 20px;
          font-size: 15px;
          border-radius: 5px;
          background-color: #4fbad3;
          color: #fff;
          border: 1px solid #ccc;
          box-shadow: 0 2px 0 #d7cdd3;
        }
      }

    }
  }
}

// register page
.main-bg {
  // background: url(../images/logo-flower.png);
  // background-position: 650px 0;
  // background-repeat: no-repeat;
  // background-size: 550px 550px;
  background-color: #95A5A6;
}
.register {
  background-color: #fff;
  padding: 30px 30px 50px;
  &__title {
    padding: 20px 0 40px;
    font-size: 30px;
  }
  &__form {
    &__group {
      display: flex;
      flex-flow: column-reverse;
      margin-bottom: 40px;
      position: relative;
    }
    &__fill {
      width: 60%;
        // height: 35px;
        // margin-bottom: 15px;
      transition: all 0.2s;
      border: 0;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      &:focus {
        outline: 0;
        border-bottom: 2px solid #4fbad3;
        & + .register__form__label {
          color: #007ACC;
          opcity: 1;
          top: -30px;
          font-size: 14px;
        }
      }
    }
    &__label {
      transition: all 0.2s;
      position: absolute;
      // top: px;
      left: 0;
      opacity: 0.5;
      font-size: 18px;
    }
    &__submit {
      &__btn {
      padding: 10px 20px;
      font-size: 15px;
      border-radius: 5px;
      background-color: #4fbad3;
      color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 2px 0 #d7cdd3;
      cursor: pointer;
      }
    }
  }
}





  // aside 
  .aside {
    flex-basis: 300px;
    order: 2;
    margin: 0 18px;
    @media screen and (max-width: $mobile) {
      width: 600px;
    }
    &__block {
      border: 1px solid #e6e6e6;
      background-color: #ffffff;
      margin-bottom: 20px;
      @media screen and (max-width: $mobile) {
        margin-bottom: 28px;
        border: none;
      }
      &__header {
        color: #646464;
        border-bottom: 1px solid #e6e6e6;
        padding: 29px 0 29px 7px;
        line-height: 20px;
        position: relative;
        padding-right: 55px;
        @media screen and (max-width: $mobile) {
          padding: 20px 20px;
          border-bottom: 5px solid #e4f8fd;
        }
      }
      &__title {
        font-size: 32px;
        font-weight: normal;
        line-height: 30px;
        @media screen and (max-width: $mobile) {
          font-size: 38px;
          line-height: 40px;
        }
      }
      &__span {
        font-size: 12px;
        font-family: "Meiryo";
        color: #646464;
        line-height: 18px;
        @media screen and (max-width: $mobile) {
          font-size: 20px;
        }
      }
      &__illus {
        position: absolute;
        top: 35px;
        right: 17px;
        @media screen and (max-width: $mobile) {
          display: none;
        }
      }
    }

    // email 
    .email {
      // padding: 16px 9px 36px;
      &__link {
        // display: flex;
      }
      &__logo {
        display: flex;
        padding-top: 16px;
        margin: auto auto;
        @media screen and (max-width: $mobile) {
          padding-top: 40px;
          width: 355px;
        }
      }
      &__illus {
        display: flex;
        padding: 19px 0 16px;
        margin: auto auto;
        @media screen and (max-width: $mobile) {
          width: 336px;
          padding: 28px 0 20px;
        }
      }
      &__definition-laif {
        display: flex;
        font-size: 13px;
        font-weight: bold;
        color: #5cbfd7;
        text-decoration: underline;
        text-underline-position: under;
        padding: 0 17px;
        justify-content: flex-end;
        @media screen and (max-width: $mobile) {
          padding: 25px 50px 25px 35px;
          text-align: center;
          border: 2px solid #4fbad3;
          border-radius: 6px;
          margin: 0 60px;
          display: block;
          text-decoration: none;
          font-size: 24px;
          position: relative;
        }
        &:after {
          @media screen and (max-width: $mobile) {
            position: absolute;
            content: "";
            width: 22px;
            height: 40px;
            background: url(../images/btn-next-blue-mobile.png);
            background-repeat: no-repeat;
            right: 10px;
            top: 50%;
            // minus height of img
            margin-top: -22px;
          }
        }
      }
      &__header, &__footer {
        font-weight: bold;
        text-align: center;
        font-family: "Hirakaku";
      }
      &__header {
        padding: 24px 15px 0 15px;
        font-size: 18px;
        line-height: 22px;
        color: #50bad4;
        @media screen and (max-width: $mobile) {
          font-size: 24px;
        }
      }
      &__regis-mail {
        padding: 12px 9px 19px 9px;
        @media screen and (max-width: $mobile) {
          text-align: center;
          font-size: 24px;
          padding: 20px 0 15px;
        }
      }
      &__input {
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        width: 226px;
        height: 50px;
        padding: 0 7px;
        margin-right: 4px;
        font-size: 16px;
        @media screen and (max-width: $mobile) {
          width: 465px;
          height: 90px;
          border: 2px solid #dcdcdc;
          border-radius: 10px;
          font-size: 24px;
          padding: 0 20px;
        }
        &:placeholder {
          color: #c8c8c8;
        }
      }
      &__btn {
        background-color: #50bad4;
        width: 50px;
        height: 50px;
        color: #fff;
        border: none;
        border-radius: 5px;
        position: absolute;
        font-size: 15px;
        cursor: pointer;
        @media screen and (max-width: $mobile) {
          position: relative;
          width: 90px;
          height: 90px;
          border-radius: 10px;
          font-size: 24px;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      &__footer {
        font-size: 13px;
        line-height: 18px;
        padding: 0 20px 35px 20px;
        @media screen and (max-width: $mobile) {
          font-size: 20px;
          padding: 15px 100px 23px;
          text-align: center;
          color: #000;
          line-height: 24px;
        }
      }

    }


    // insurance 
    .insurance {
      padding: 0 9px 10px;
      position: relative;
      @media screen and (max-width: $mobile) {
        padding: 0;
      }
      &__header {
        display: flex;
        border-bottom: 1px solid #e6e6e6;
        // padding-bottom: 14px;
        // padding-left: 4px;
        padding: 16px 0 14px 4px;
        // align-items: center;
        @media screen and (max-width: $mobile) {
          padding: 23px 30px;
        }
      }
      &__photo {
        // 2 ways
        align-self: flex-start;
        // align-self: self-start;
        display: block;
        @media screen and (max-width: $mobile) {
          width: 80px;
        }
      }
      &__title {
        padding-left: 4px;
        // align-self: center;
        &_des {
          font-size: 14px;
          font-weight: bold;
          @media screen and (max-width: $mobile) {
            font-size: 22px;
            color: #3b579d;
            // padding-bottom: 8px;
            // padding-left: 12px;
            padding: 0 0 8px 12px;
          }
        }
      }
      &__like {
        display: inline-block;
        &__img {
          @media screen and (max-width: $mobile) {
            width: 117px;
            padding-left: 12px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      &__body {
        border-bottom: 1px solid #e6e6e6;
        padding: 9px 0 12px;
        @media screen and (max-width: $mobile) {
            padding: 22px 30px 34px 30px;
          }
        &__no {
          color: #505050;
          font-size: 13px;
          font-weight: bold;
          @media screen and (max-width: $mobile) {
            font-size: 24px;
          }
        }
        &__link {
          color: #3b579d;
          text-decoration: none;
        }
        .ppl {
          display: flex;
          flex-wrap: wrap;
          width: 280px;
          justify-content: space-between;
          @media screen and (max-width: $mobile) {
            width: 540px;
          }
          &__item {
            // margin: 0 8px 8px 0;
            // flex: 0 1 calc(20% - 8px);
            display: inline-block;
            margin-top: 8px;
          }
          &__ava {
            display: block;
            @media screen and (max-width: $mobile) {
              width: 100px;
          }
          }
        }
      }
      .sns {
        margin-right: 115px; 
        @media screen and (max-width: $mobile) {
            padding: 18px 12px;
          }
        &__title {
          padding: 10px 0 7px;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          @media screen and (max-width: $mobile) {
            font-size: 24px;
            padding: 0 0 22px;
          }
        }
        &__list {
          display: flex;
          &__item{
            padding-right: 10px;
          }
          &__link {
            display: block
          }
          &__img {
            vertical-align: bottom;
            width: 40px;
            @media screen and (max-width: $mobile) {
              width: 80px;
            }
          }
          .line {
            display: none;
            @media screen and (max-width: $mobile) {
              display: block;
            }
          }
        }
      }
      &__illus {
        display: block;

        // make circle by using span

        // &__circle {
        //   background-color: #50bad4;
        //   width: 54px;
        //   height: 54px;
        //   border-radius: 50%;
        //   position: absolute;
        //   bottom: 10px;
        //   right: 65px;
        //   &:after {
        //     content: "Follow me!";
        //     color: #fff;
        //     transform: rotate(-45deg);
        //     position: absolute;
        //     left: 3px;
        //     top: 7px;
        //     font-size: 14px;
        //     text-align: center;
        //   }
        // }

        &__circle {
          width: 54px;
          position: absolute;
          bottom: 10px;
          right: 65px;
          z-index:9;
          @media screen and (max-width: $mobile) {
            width: 104px;
            right: 125px;
          }
        }
        &__img {
          &--cut {
            position: absolute;
            right: 5px;
            bottom: 0;
            // clip: (top right bottom left)
            clip: rect(0 142px 145px 0);
            @media screen and (max-width: $mobile) {
              width: 142px;
              bottom: -45px;
              right: 10px  ;
            }
          }
        }
      }
    }

    //  advertisement
    .ads {
      display: block;
      margin-bottom: 20px;
      @media screen and (max-width: $mobile) {
        display: none;
      }
      &__img {
        display: block;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    // category
    .category  {
      @media screen and (max-width: $mobile) {
        display: none;
      } 
      &__list {
        margin: 20px 9px;
        &__item {
          margin-bottom: 10px;
          display: block;
          position: relative;
          &:nth-child(5n+1) {
            background-color: #0085cd;
          }
          &:nth-child(5n+2) {
            background-color: #47b8b2;
          }
          &:nth-child(5n+3) {
            background-color: #ea928e;
          }
          &:nth-child(5n+4) {
            background-color: #c54646;
          }
          &:nth-child(5n+5) {
            background-color: #eba622;
          }
          &:hover {
            opacity: 0.7;
          }
        }
        &__link {
          font-size: 16px;
          color: #fff;
          font-family: "Hirakaku";
          font-weight: bold;
          display: flex;
          align-items: center;
          border-bottom: 2px solid;
          border-bottom-color: rgba(0, 0, 0, 0.1);
        }
        &__img {
          margin-bottom: -2px;
        }
        &__title {
          padding-left: 10px;
          margin-right: 30px;
        }
        &__btn-next {
          display: flex;
          align-items: center;
          position: absolute;
          right: 10px;
        }
      }
    }

    // recommend
    .recommend  {
      &__scroll {
        overflow-x: hidden;
        @media screen and (max-width: $mobile) {
          overflow-x: scroll; 
          width: 560px;
          margin: 20px;
          

        }
        &::-webkit-scrollbar {
          @media screen and (max-width: $mobile) {
            width: 8px;
          }
        }
        &::-webkit-scrollbar-track {
          @media screen and (max-width: $mobile) {
            // box-shadow: inset 0 0 5px rgba(0,0,0,0.1); 
            background-color: #ccc;
          }
        }
 
        &::-webkit-scrollbar-thumb {
          @media screen and (max-width: $mobile) {
            background: #50bad4; 
          }
        }

        .recommend__list {
          margin: 0 9px;
          @media screen and (max-width: $mobile) {
            margin: 0;
            display: flex;
            border-bottom: 2px solid #e4f8fd;
            padding-bottom: 27px;
          } 
          &__item {
            display: flex;
            // width: 280px;
            padding: 13px 0 11px 0;
            border-bottom: 1px solid #eeeeee;
            @media screen and (max-width: $mobile) {
              padding: 0;
              padding-right: 20px;
              border-bottom: none;
            } 
          }
          &__link {
            display: flex;
            align-items: center;
            @media screen and (max-width: $mobile) {
              display: block;
              position: relative;
            }
            &:hover .recommend__list__title,
            &--active .recommend__list__title {
              color: #4fbad3;
              text-decoration: underline;
              text-underline-position: under;
              @media screen and (max-width: $mobile) {
                text-decoration: none;
                color: #fff;
              }
            }
          }
          &__img {
            align-self: center;
            width: 100px;
            @media screen and (max-width: $mobile) {
              width: 432px;

            } 
          }
          &__title {
            padding-left: 15px;
            font-size: 13px;
            line-height: 22px;
            font-weight: normal;
            color: #585858;
            font-family: "Meiryo";
            @media screen and (max-width: $mobile) {
              background-color: rgba(#000, 0.7);
              color: #fff;
              font-size: 28px;
              line-height: 35px;
              text-decoration: none;
              padding: 4px 18px;
              position: absolute;
              top: 246px;
            } 
          }
        }
      }
      &__footer {
        padding: 14px 0;
        position: relative;
        display: block;
        text-align: right;
        margin: 0 9px;
        @media screen and (max-width: $mobile) {
          padding: 14px 14px;
          margin: 0;
          border-top: 2px solid #e4f8fd;
        }
        &__read-more {
          font-family: "Meiryo";
          display: block;
          font-size: 12px;
          // align-self: center;
          margin-left: 0;
          padding-left: 0;
          color: #4fbad3;
          text-decoration: underline;
          text-underline-position: under;
          @media screen and (max-width: $mobile) {
            font-size: 28px;
            padding: 30px 85px;
            background-color: #4fbad3;
            color: #fff;
            text-decoration: none;
            text-align: center;
            line-height: 30px;
            border-radius: 7px;
            position: relative;
          }
          &:after {
            @media screen and (max-width: $mobile) {
              position: absolute;
              content: "";
              width: 22px;
              height: 40px;
              background: url(../images/btn-next-white-mobile.png);
              background-repeat: no-repeat;
              right: 20px;
              top: 50%;
              margin-top: -22px;
              z-index: 9;
            }
          }
          
        }
        &__span {
          text-decoration: none ;
          display: inline-block;
          padding-right: 2px;
          font-size: 12px;
          @media screen and (max-width: $mobile) {
            display: none;  
          }
        }
      }
    }

    // ranking
    .ranking {
      @media screen and (max-width: $mobile) {
        display: none;
      }
      &__body {
        background-color: #72c8dc;
        .ranking__input[type="radio"] {
          display: none;
          // -webkit-appearance: none;
          // position: fixed;
          // opacity: 0;
          &:checked + .ranking__label  {
            border-top: 2px solid #72c8dc;
            background: #fff;
            color: #9fd5e4;
            position: relative;
          }
          &:checked + .ranking__label:before {
            top: 0;
            left: -1px;
            content: "";
            background-color: #fff;
            width: 1px;
            height: 100%;
            position: absolute;
          }
        }
        .ranking__label {
          width: 84px;
          font-size: 14px;
          display: inline-block;
          text-align: center;
          padding: 11px 0;
          color: #fff;
          background-color: #72c8dc;
          line-height: 22px;
          position: relative;
          cursor: pointer;
          // remove padding between input and label
          margin-left: -4px;
          &:after {
            content: "";
            background-color: #fff;
            width: 1px;
            height: 18px;
            right: 0;
            position: absolute;
          }
          &:hover {
            color: #9fd5e4;
            background-color: #fff;
            border-top: 2px solid #72c8dc;
            &:before {
              top: 0;
              left: -1px;
              content: "";
              background-color: #fff;
              width: 1px;
              height: 100%;
              position: absolute;
            }
          }
          &:active {
            color: #9fd5e4;
            background-color: #fff;
            border-top: 2px solid #72c8dc;
          }
          
        }

        
        .label__dairy {
           margin-left: 15px;
        }
        #ranking__dairy:checked ~ .ranking__dairy-content,
        #ranking__monthly:checked ~ .ranking__monthly-content,
        #ranking__total:checked ~ .ranking__total-content {
          display: block;
        }
        .ranking__content {
          display: none;
          margin-right: 0;
          padding: 0 9px;
          background-color: #fff;
          .ranking__list {
            &__item {
              border-bottom: 1px solid #eeeeee;
              padding: 10px 0;
              counter-increment: step-counter;
              position: relative;
              padding-left: 50px;
              &:before {
                content: counter(step-counter);
                font-size: 13px;
                color: #fff;
                background-color: #6b6b6b;
                border-radius: 5px;
                position: absolute;
                left: 0px;
                margin-top: 2px;
                width: 40px;
                height: 20px;
                text-align: center;
                }
            } 
            &__link {
              padding: 10px 6px 0;
              font-size: 13px;
              color: #6b6b6b;
              text-decoration: underline;
              text-underline-position: under;
              &:hover {
                color: #4fbad3;
                text-decoration: underline;
                text-underline-position: under;
              }
            }
            &:last-child .ranking__list__item {
              border-bottom: none;
            }
          }
        }
      }
    }
  }


// footer
.ft {

  &__content {
    background-color: #ebeff1;
    padding-bottom: 55px;
    @media screen and (max-width: $mobile) {
      display: inline-block; 
      padding-bottom: 25px;
    }
    .ft__block {
      display: flex;
      color: #757778;
      @media screen and (max-width: $mobile) {
        display: block;
        width: $mobile;
        padding: 0 18px;
      }
      .ft-intro {
        flex-basis: 425px;
        &__header {
          padding: 36px 0;
          @media screen and (max-width: $mobile) {
            padding: 18px 0 25px;
            display: flex;
            justify-content: center;

          }
          .ft__logo {
            display: block;
            &__img {
              vertical-align: bottom;
              @media screen and (max-width: $mobile) {
                display: none;
              }
            }
            // &__text {
            //   font-size: 20px;
            //   color: #4fbad3;
            // }
            &__img--mobile {
              display: none;
              @media screen and (max-width: $mobile) {
                display: block;
                width: 240px;
              }
            }
          }
        }
        &__body {
          font-family: "Meiryo";
          &__des {
            line-height: 22px;
            padding-top: 2px;
            font-size: 12px;
            @media screen and (max-width: $mobile) {
              font-size: 22px;
              line-height: 30px;
              color: #333333;
            }
          }
        }
        &__footer {
          text-align: right;
          padding-top: 5px;
          @media screen and (max-width: $mobile) {
            text-align: center;
            padding-top: 35px;
          }
          &__link {
            color: #80c8db;
            /*padding-top: 13px;*/
            font-weight: bold;
            @media screen and (max-width: $mobile) {
              border: 2px solid #4fbad3;
              border-radius: 6px;
              font-size: 28px;
              padding: 30px 0;
              display: block;
              position: relative;
              background: #fff;
            }
          }
          &__span {
            font-size: 13px;
            @media screen and (max-width: $mobile) {
              position: absolute;
              left: 13px;
              top: 37px;
              font-size: 16px;
            }
          }
        }
      }
      .ft-other {
        flex-basis: 330px;
        padding-top: 105px;
        margin-left: 58px;
        @media screen and(max-width: $mobile) {
          margin-left: 0;
          padding-top: 22px;
        }
        &__title {
          font-size: 16px;
          font-weight: bold;
          padding: 5px 0 5px 16px;
          line-height: 20px;
          border-bottom: 1px solid #4fbad3;
          @media screen and(max-width: $mobile) {
            display: none;
            // padding: 21px 60px 21px 20px;
            // font-size: 28px;
            // line-height: 30px;
            // background-color: #4fbad3;
            // color: #fff;
            // position: relative;
          }
          &:after {
            @media screen and (max-width: $mobile) {
              position: absolute;
              content: "";
              width: 25px;
              height: 45px;
              background: url(../images/btn-next-white-mobile.png);
              background-repeat: no-repeat;
              right: 20px;
              top: 15px;
              transform: rotate(90deg);
            }
          }
        }
        &__title--btn {
          display: none;
          @media screen and(max-width: $mobile) {
            padding: 21px 60px 21px 20px;
            font-size: 28px;
            line-height: 30px;
            background-color: #4fbad3;
            color: #fff;
            position: relative;
            border: none;
            width: 604px;
            text-align: -webkit-left;
            display: block;
          }
          &:hover {
            @media screen and (max-width: $mobile) {
              cursor: pointer;
            }
          }
          &:after {
            @media screen and (max-width: $mobile) {
              position: absolute;
              content: "";
              width: 25px;
              height: 45px;
              background: url(../images/btn-next-white-mobile.png);
              background-repeat: no-repeat;
              right: 20px;
              top: 50%;
              margin-top: -22px;
              transform: rotate(90deg);
            }
            &:active {
              @media screen and (max-width: $mobile) {
                transform: rotate(-90deg);
              }
            }
          }
        }
        .showDropdown {
          display:block;
        }

        // way 1
        // &__list {
        //   display:flex;
        //   flex-direction: column;
        //   flex-wrap: wrap;
        //   height: 205px;
        //   &__item {
        //     padding: 8px 0;
        //     @media screen and(max-width: $mobile) {
        //       padding: 30px 15px;
        //       border-bottom: 2px solid #c2c2c2;
        //     }
        //     &--50 {
        //     width:50%;
        //     }
        //     &--25 {
        //     width:25%;
        //     }
        //   }
        //   &__link {
        //     line-height: 16px;
        //     font-size: 14px;
        //     color: #757778;
        //     padding-left: 2px;
        //   }
        //   &__span {
        //     color: #80c8db;
        //     font-size: 7px;
        //     vertical-align: middle;
        //   }
        // }

        // way 2 to divide ft-other to 2 or 4 columns
        &__list {
          @media screen and(max-width: $mobile) {
            display: none;
          }
          &__item {
            padding: 8px 0;
            direction: left;
            @media screen and(max-width: $mobile) {
              padding: 31px 15px;
              border-bottom: 2px solid #c2c2c2;
            }
          }
          &--50 {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
            @media screen and(max-width: $mobile) {
              column-count: 1;
            }
          }
          &--25 {
            -webkit-column-count: 4; /* Chrome, Safari, Opera */
            -moz-column-count: 4; /* Firefox */
            column-count: 4;
            @media screen and(max-width: $mobile) {
              column-count: 1;
            }
          }
          &__link {
            line-height: 16px;
            font-size: 14px;
            color: #757778;
            padding-left: 2px;
            @media screen and(max-width: $mobile) {
              font-size: 28px;
              display: block;
              line-height: 20px;
            }
          }
          &__span {
            color: #80c8db;
            font-size: 7px;
            vertical-align: middle;
            @media screen and(max-width: $mobile) {
              font-size: 16px;
              padding-right: 18px;
            }
          }
        }
      }
      .btn-click__icon {
        &:after {
          @media screen and (max-width: $mobile) {
            content:none;
          }
        }
        &:before {
          @media screen and (max-width: $mobile) {
              position: absolute;
              content: "";
              width: 25px;
              height: 45px;
              background: url(../images/btn-next-white-mobile.png);
              background-repeat: no-repeat;
              right: 20px;
              top: 15px;
              transform: rotate(-90deg);
            }
        }
      }
    }
  }
  &__footer {
    background-color: #4fbad3;
    @media screen and (max-width: $mobile) {
      display: inline-block;  
    }
    .ft__block {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $mobile) {
        display: block;  
        width: $mobile;
      }
      .ft-menu {
        position: relative;
        @media screen and (max-width: $mobile) {
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;  
          padding: 20px;
          justify-content: space-between;
        }
        &__link {
          display: inline-block;
          padding: 13px;
          margin-bottom: 2px;
          position: relative;
          color: #edf7f9;
          font-size: 14px;
          @media screen and (max-width: $mobile) {
            font-size: 28px;
          }
          &--50 {
            @media screen and (max-width: $mobile) {
              width: 298px;
              background-color: #3eabc8;
              padding: 18px 50px 18px 30px;
            }
          }
          &:first-child {
            padding-left: 0;
            @media screen and (max-width: $mobile) {
              padding: 18px 30px;
            }
          }
          &:hover {
            @media screen and (max-width: $mobile) {
              cursor: pointer;
            }
          }
          &:after {
            @media screen and (max-width: $mobile) {
              position: absolute;
              content: "";
              width: 22px;
              height: 40px;
              background: url(../images/btn-next-white-mobile.png);
              background-repeat: no-repeat;
              right: 19px;
              top: 50%;
              margin-top: -22px;
            }
          }
        }
      }
      .ft-copyright {
        padding: 15px 0;
        @media screen and (max-width: $mobile) {
          display: block;
          text-align: center;
          background-color: #2e9cbd;
          padding: 22px 0;

        }
        &__p {
          font-size: 11px;
          color: #edf7f9;
          @media screen and (max-width: $mobile) {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.recommend__scroll {
  overflow-x: scroll; 
}